@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --cor-de-fundo: #000000;
    --cor-secundaria: #C0C0C0;
    --botao-azul: #00ADB5;
    --branco-principal: #EEEEEE;
    --fonte-principal: 'Inter';
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.principal{
    background-image: url("assets/background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.container__caixa{
    margin: 0 11em;
}

.container__image{
    margin: 1em 0 2em 0;
}

.container__botao{
    text-decoration: none;
    color: var(--branco-principal);
    background-color: var(--botao-azul);
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
    display: block;
}

.container__paragrafo{
    color: var(--cor-secundaria);
    font-size: 12px;
}

.container__imagem__secundaria{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    color: var(--branco-principal);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cor-secundaria);
}

.container__botao__secundario{
    display: inline-block;
    margin-top: 2em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 42px;
    color: var(--branco-principal);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 4em 0;
}

.dispositivos__lista__itens__texto{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.rodape__lista a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto{
    font-size: 0.87em;
    color: var(--cor-secundaria);
    margin: 1em 0;
}

.rodape__lista__links a:hover{
    color: var(--cor-secundaria);
}

.imagem__responsiva__top{
    display: none;
}

@media screen and (max-width: 768px) {
    .container{
        display: block;
        background-image: none;   
    }

    .container__caixa{
        margin: 2em 2em;
    }

    .secundario{
        margin: 0;
        text-align: center;
    }

    .container__imagem__secundaria{
        width: 50vw;
    }

    .dispositivos__lista{
        display: block;
    }

    .rodape__lista{
        display: block;
    }

    .descricao__titulo{
        font-size: 40px;
        margin-bottom: .5em;
    }

    .descricao__texto{
        margin: 0 .2em;
    }

    .rodape__texto{
        margin: 1em .2em;

    }

    .dispositivos__titulo{
        font-size: 35px;
    }

    .container__botao__secundario{
        margin: 3em 0;
    }

    .imagem__responsiva__bottom{
        display: none;
    }

    .imagem__responsiva__top{
        margin-bottom: 1em;
        display: block;
        margin-left: 6em;
    }


}